<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">SPORTIVA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>

                        {% for cat in category %}
                        <<li><a class="dropdown-item" href="{% url 'category' cat.name %}">{{ cat.name }}</a></li>
                        {% endfor %}

                        {% comment %} <li><a class="dropdown-item" href="{% url 'category' 'Watches' %}">Watches</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Mobiles' %}">Mobiles</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Sports' %}">Sports</a></li> {% endcomment %}
                    </ul>
                </li>
    
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark" > <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id ='cart_quantity'>{{ cart|length }}</span></a>
            </form>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Acraiders</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item dropdown" style="margin-right: 20px">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'category' 'Mobiles' %}"
                >Mobiles</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'category' 'Mobiles' %}"
                >Mobiles</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'category' 'Mobiles' %}"
                >Mobiles</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'category' 'Mobiles' %}"
                >Mobiles</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        {% if user.is_authenticated %}
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">FAQs</a>
          </li> -->
        <li class="nav-item">
          <div
            class="btn-group"
            style="margin-right: 20px; height: fit-content"
          >
            <a
              href="#"
              class="btn btn-primary active"
              aria-current="page"
              style="color: white; background-color: black"
              onmouseover="this.style.backgroundColor='red';"
              onmouseout="this.style.backgroundColor='black';"
              id="button1"
              >Buy</a
            >
            <a
              href="{% url 'sell' %}"
              class="btn btn-primary"
              style="color: white; background-color: black"
              onmouseover="this.style.backgroundColor='red';"
              onmouseout="this.style.backgroundColor='black';"
              id="button2"
              >Sell</a
            >
            <!-- <a href="#" class="btn btn-primary">Link</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" style="color: white"
            >Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}" style="color: white"
            >Register</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" style="color: white"
            >Login</a
          >
        </li>
        {% endif %}

        <li class="nav-item">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="color: black; background-color: white"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
        <!-- <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn"> <i class="bi bi-cart"></i>
                    Cart
                    <span class="badge ms-1 rounded-pill" id ='cart_quantity'>{{ cart|length }}</span></a>
            </form> -->
      </ul>
      <form class="d-flex" role="search" method="post" action="/search/">
        {% csrf_token %}
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          name="search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
