{% extends 'base.html' %} {% block content %}

<br /><br />

<div class="container" style="flex: 1;">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ ordered.product.image.url }}"
          class="img-fluid rounded-start"
          alt="..."
          style="width: 100%; height: 100%;"
        />
      </div>
      <div class="col-md-8">
        <!-- <div class="card-body">
          <h5 class="card-title text-center">{{ ordered.product.p_name }}</h5>
          <p class="card-title text-center">{{ordered.product.description}}</p>
          <br />,
        </div> -->
        <h3 style="text-align: center; margin-bottom: 20px; margin-top: 20px;"><b>Delivery Details:</b></h3>
           <div class="container text-center">
              <div class="profile">
                  <!-- <span style="font-size: 48px;">&#128100;</span> -->
                  <!-- <p><b>Order ID:</b>{{ordered.id}} </p> -->
                  <!-- <p><b>Price Bidded:</b>{{ordered.p_bid}} </p> -->
                  <p><b>Address to be delivered :</b> {{address.house_no}},{{address.street}},{{address.city}},{{address.state}},{{address.pincode}}</p>
                  <p><b>Email ID : </b> {{customer.user.email}}</p>
                  <p><b>Mobile No &#9742;: </b> {{customer.phone}}</p>
                  <p><b>Date of Ordering : </b> {{ordered.date}}</p>
                </div>
          </div>
          <h3 style="text-align: center; margin-bottom: 20px; margin-top: 20px;"><b>Seller Details:</b></h3>
           <div class="container text-center">
              <div class="profile">
                  <p><b>Seller Name :</b></p>
                  <p><b>Email ID : </b> {{s_d.customer.user.email}}</p>
                  <p><b>Mobile No &#9742;: </b> {{s_d.customer.phone}}</p>
                  <p><b>Expected time : </b> 1 week</p>
                </div>
          </div>
          <h3 style="text-align: center; margin-bottom: 20px;"><b>Order Summary:</b></h3>
          <div class="container text-center">
            <div class="profile">
                <!-- <span style="font-size: 48px;">&#128100;</span> -->
                <p><b>Price Bidded :</b>{{ordered.p_bid}} </p>
                <p><b>Order ID : </b>{{ordered.id}} </p>
                <p><b>Actual Cost : </b>{{ordered.product.price}} </p>
                <p><b>Sale Price : </b>{{ordered.product.sale_price}}</p>
                <!-- <p>You just saved {{ordered.product.price}}-{{ordered.product.sale_price}}</p> -->
                <div style="color: green;">
                <script>
                  var originalPrice = "{{ ordered.product.price|safe }}";
                  originalPrice = parseInt(originalPrice);
                  var salePrice = "{{ordered.product.sale_price}}";
                  salePrice = parseInt(salePrice);
                  var savedAmount = originalPrice - salePrice;
                  document.write("<p><b>You just saved ₹" + savedAmount + " on this order</b></p>");
                </script>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
