{% extends 'base.html' %}

{% block content %}

<div class="container text-center" style="flex: 1;">
    <div class="profile" style="margin-top: 50px;" >
        <span style="font-size: 50px;">&#128100;</span>
        <p ><b>Username :</b> {{customer.user.username}} </p>
        <p ><b>Email :</b> {{customer.user.email}}</p>
        <!-- <p ><b>Password&nbsp;:</b>&nbsp;{{customer.user.password}}</p> -->
        <p ><b>Mobile No &#9742;:</b> {{customer.phone}}</p>
        <p ><b>City :</b> {{address.city}}</p>
        <p ><b>State :</b> {{address.state}}</p>
        <p ><b>Pincode :</b> {{address.pincode}}</p>
        <p ><b>Street :</b> {{address.street}}</p>
        <p ><b>House No :</b> {{address.house_no}}</p>
    </div>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2%;">Edit Profile</button>
</div>


{% endblock %}